
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older"><span class="mega-octicon octicon-playback-rewind" style="min-width: 32px;"></span></a>
  {% else %}
    <span class="next"><span class="mega-octicon octicon-playback-rewind" style="min-width: 32px;"></span></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></a>
    {% endif %}
  {% else %}
    <span class="previous"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></span>
  {% endif %}
</div>
{%  endif %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google_analytics}}']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<h3>Contact Us</h3>
<br/>

<script language="JavaScript"><!--
var name = "labs";
var domain = "cyberpointllc.com";
document.write('Email: <a href=\"mailto:' + name + '@' + domain + '\">');
document.write(name + '@' + domain + '</a>');
// --></script>
<br/>
<script language="JavaScript"><!--
var name2 = "cpl4bs";
document.write('Twitter: <b>' + name2 + '</b></br/>');
// --></script>

<p><b>CyberPoint International</b><br/>
621 East Pratt Street, suite 300<br/>
Baltimore MD 21202-3140<br/>
phone +1 410 779 6700</p>
