<div class="header-container">
  <header>
      <br/><img src="/cp_logo_horizontal_Sm194x56.jpg" /><br/>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="/index.html" target="_new"><span class="mega-octicon octicon-terminal" style="margin-right: 6px;"></span>CyberPoint Labs Blog</a></li>
        <li><a href="/about.html"><span class="mega-octicon octicon-person" style="margin-right: 6px;"></span>About</a></li>
      </ul>
  </header>
</div>
